/* // @import "{{ site.theme }}"; */

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(22, 46, 62);
    color: white;
}

.navbar a{
    color: white;
    text-decoration: none;
    transition: all ease;
    text-transform: uppercase;
}

.navbar a:hover{
    color: rgba(193, 204, 212, 0.2);
}

.header-content{
    width: 90%;
    margin: .2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .logo {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 100;
}

.middle-link{
    color: white;
    text-decoration: none;
}

.header-content .middle h3{
    text-decoration: none;
    color: wheat;
}

.container{
    width: 90%;
    margin: .2rem auto;
    display: flex;
}

.container .content{
    height: 100vh;
    width: 90%;
}

section{
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
    padding: .3rem;
    margin: .4rem;
    border-radius: 5px;
}

.categories{
    width: 20%;
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

.footer{
    background-color: rgb(22, 46, 62);
}

.footer-container{
    color: white;
    width: 90%;
    margin: .2rem auto;
    min-height: 200px;
}
